<?xml version="1.0" encoding="utf-8"?>
<!-- HiveStack Appliance - SLES 15 SP7 KIWI Image Description -->
<!-- Build: kiwi-ng --type iso --description appliance/kiwi --target-dir /tmp/kiwi-build -->

<image schemaversion="7.5" name="hivestack-appliance">
    <description type="image">
        <author>Maddy AI Consultancy</author>
        <contact>contact@maddyai.dev</contact>
        <specification>HiveStack KVM Hypervisor Management Appliance on SLES 15 SP7</specification>
    </description>

    <!-- SLES 15 SP7 Repositories -->
    <repositories>
        <repository type="rpm-md" alias="SLE15-SP7-Pool" priority="1">
            <source path="https://download.suse.com/ibs/SUSE:/SLE-15-SP7:/GA/standard/"/>
        </repository>
        <repository type="rpm-md" alias="SLE15-SP7-Updates" priority="1">
            <source path="https://download.suse.com/ibs/SUSE:/SLE-15-SP7:/Update/standard/"/>
        </repository>
        <repository type="rpm-md" alias="SLE-Module-Basesystem" priority="1">
            <source path="https://download.suse.com/ibs/SUSE:/SLE-15-SP7:/GA:/Products/Basesystem/standard/"/>
        </repository>
        <repository type="rpm-md" alias="SLE-Module-Server-Applications" priority="1">
            <source path="https://download.suse.com/ibs/SUSE:/SLE-15-SP7:/GA:/Products/Server-Applications/standard/"/>
        </repository>
        <repository type="rpm-md" alias="Virtualization" priority="2">
            <source path="https://download.opensuse.org/repositories/Virtualization:/kvm/SLE_15_SP7/"/>
        </repository>
        <repository type="rpm-md" alias="SLE-Module-Containers" priority="2">
            <source path="https://download.suse.com/ibs/SUSE:/SLE-15-SP7:/GA:/Products/Containers/standard/"/>
        </repository>
    </repositories>

    <!-- Packages -->
    <packages type="image">
        <!-- Base system -->
        <package name="aaa_base"/>
        <package name="bash"/>
        <package name="coreutils"/>
        <package name="grep"/>
        <package name="sed"/>
        <package name="gzip"/>
        <package name="tar"/>
        <package name="rpm"/>
        <package name="systemd"/>
        <package name="systemd-sysvinit"/>
        <package name="udev"/>
        <package name="kernel-default"/>
        <package name="kernel-firmware-all"/>
        <package name="dracut"/>
        <package name="grub2"/>
        <package name="grub2-x86_64-efi"/>
        <package name="shim"/>

        <!-- Network -->
        <package name="NetworkManager"/>
        <package name="NetworkManager-wifi"/>
        <package name="iproute2"/>
        <package name="iputils"/>
        <package name="ethtool"/>
        <package name="bridge-utils"/>
        <package name="vlan"/>
        <package name="openvswitch"/>
        <package name="openvswitch-kmp-default"/>
        <package name="wicked"/>

        <!-- Virtualization (KVM/QEMU/libvirt) -->
        <package name="qemu-kvm"/>
        <package name="qemu-tools"/>
        <package name="libvirt-daemon"/>
        <package name="libvirt-daemon-driver-qemu"/>
        <package name="libvirt-daemon-config-network"/>
        <package name="libvirt-client"/>
        <package name="virt-install"/>
        <package name="libguestfs-tools"/>
        <package name="guestfsd"/>

        <!-- Database -->
        <package name="postgresql15-server"/>
        <package name="postgresql15-contrib"/>

        <!-- Utilities -->
        <package name="openssh"/>
        <package name="curl"/>
        <package name="wget"/>
        <package name="ca-certificates"/>
        <package name="cronie"/>
        <package name="logrotate"/>
        <package name="sudo"/>
        <package name="jq"/>
        <package name="nano"/>
        <package name="less"/>

        <!-- Security -->
        <package name="firewalld"/>
        <package name="apparmor-utils"/>
        <package name="audit"/>

        <!-- Monitoring -->
        <package name="prometheus-node-exporter"/>

        <!-- Cockpit (Web UI) -->
        <package name="cockpit"/>
        <package name="cockpit-machines"/>
        <package name="cockpit-storaged"/>
        <package name="cockpit-networkmanager"/>

        <!-- Container runtime -->
        <package name="podman"/>
        <package name="buildah"/>
    </packages>

    <!-- Root user configuration -->
    <users>
        <user password="$6$rounds=4096$xyz$hivestack" home="/root" name="root" groups="root"/>
        <user password="$6$rounds=4096$xyz$hivestack" home="/home/hivestack" name="hivestack" groups="hivestack,libvirt"/>
    </users>

    <!-- Type: ISO image -->
    <preference type="iso" flags="overlay" hybridpersistent_filesystem="ext4" hybridpersistent="true" volid="HIVESTACK">
        <type image="iso" hybrid="true" firmware="uefi" bootloader="grub2" bootkernel="std" mediacheck="true" checkmedia="true"/>
    </preference>

    <!-- Boot scripts -->
    <profiles>
        <profile name="Standard" description="Standard HiveStack appliance"/>
    </profiles>
</image>
