<?xml version="1.0" encoding="utf-8"?>
<!-- HiveStack Appliance - openSUSE Leap 15.5 KIWI Image Description -->
<!-- openSUSE Leap 15.5 is the open-source base for SLES 15 SP7 -->
<!-- Build: kiwi-ng system build --description . --target-dir /tmp/kiwi-build -->

<image schemaversion="7.4" name="hivestack-appliance">
    <description type="image">
        <author>Maddy AI Consultancy</author>
        <contact>contact@maddyai.dev</contact>
        <specification>HiveStack KVM Hypervisor Management Appliance on openSUSE Leap 15.5 (SLES 15 SP7 compatible)</specification>
    </description>

    <!-- Repositories -->
    <repositories>
        <repository type="rpm-md" alias="Leap-15.5-OSS" priority="1">
            <source path="http://download.opensuse.org/distribution/leap/15.5/repo/oss/"/>
        </repository>
        <repository type="rpm-md" alias="Leap-15.5-Non-OSS" priority="1">
            <source path="http://download.opensuse.org/distribution/leap/15.5/repo/non-oss/"/>
        </repository>
        <repository type="rpm-md" alias="Leap-15.5-Update" priority="1">
            <source path="http://download.opensuse.org/update/leap/15.5/oss/"/>
        </repository>
        <repository type="rpm-md" alias="Virtualization" priority="2">
            <source path="http://download.opensuse.org/repositories/Virtualization:/kvm/openSUSE_Leap_15.5/"/>
        </repository>
    </repositories>

    <!-- Packages -->
    <packages type="image">
        <!-- Base system -->
        <package name="aaa_base"/>
        <package name="bash"/>
        <package name="coreutils"/>
        <package name="systemd"/>
        <package name="systemd-sysvinit"/>
        <package name="udev"/>
        <package name="kernel-default"/>
        <package name="dracut"/>
        <package name="grub2"/>
        <package name="grub2-x86_64-efi"/>
        <package name="shim"/>

        <!-- Network -->
        <package name="NetworkManager"/>
        <package name="iproute2"/>
        <package name="iputils"/>
        <package name="ethtool"/>
        <package name="bridge-utils"/>
        <package name="vlan"/>
        <package name="openvswitch"/>
        <package name="wicked"/>

        <!-- Virtualization (KVM/QEMU/libvirt) -->
        <package name="qemu-kvm"/>
        <package name="qemu-tools"/>
        <package name="libvirt-daemon"/>
        <package name="libvirt-daemon-driver-qemu"/>
        <package name="libvirt-daemon-config-network"/>
        <package name="libvirt-client"/>
        <package name="virt-install"/>
        <package name="libguestfs-tools"/>

        <!-- Database -->
        <package name="postgresql15-server"/>
        <package name="postgresql15-contrib"/>

        <!-- Utilities -->
        <package name="openssh"/>
        <package name="curl"/>
        <package name="wget"/>
        <package name="ca-certificates"/>
        <package name="sudo"/>
        <package name="nano"/>
        <package name="less"/>
        <package name="vim-small"/>
        <package name="jq"/>
        <package name="tree"/>

        <!-- Security -->
        <package name="firewalld"/>
        <package name="apparmor-utils"/>
        <package name="audit"/>

        <!-- Monitoring -->
        <package name="prometheus-node-exporter"/>

        <!-- Time sync -->
        <package name="chrony"/>

        <!-- Logging -->
        <package name="rsyslog"/>
        <package name="logrotate"/>

        <!-- Cron -->
        <package name="cronie"/>

        <!-- Container runtime -->
        <package name="podman"/>
        <package name="buildah"/>
    </packages>

    <!-- Root user -->
    <users>
        <user password="hivestack" home="/root" name="root" groups="root"/>
    </users>

    <!-- Type: ISO image -->
    <preference type="iso" flags="overlay" hybridpersistent_filesystem="ext4" hybridpersistent="true" volid="HIVESTACK">
        <type image="iso" hybrid="true" firmware="uefi" bootloader="grub2" bootkernel="std"/>
    </preference>

    <!-- Profiles -->
    <profiles>
        <profile name="Default" description="Default HiveStack appliance"/>
    </profiles>
</image>
